<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinBack.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WinBack.My.MySettings>
            <setting name="AktUser" serializeAs="String">
                <value />
            </setting>
            <setting name="AktLanguage" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="MySQLServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="MySQLWinBack" serializeAs="String">
                <value>winback</value>
            </setting>
            <setting name="MySQLWbDaten" serializeAs="String">
                <value>wbdaten</value>
            </setting>
            <setting name="MySQLUser" serializeAs="String">
                <value>herbst</value>
            </setting>
            <setting name="MySQLPass" serializeAs="String">
                <value>herbst</value>
            </setting>
            <setting name="MySQLConWinBack" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQLConWbDaten" serializeAs="String">
                <value />
            </setting>
            <setting name="OrgaSoftDockPanelPath" serializeAs="String">
                <value>C:\ProgramData\OrgaSoft\Temp\01\</value>
            </setting>
            <setting name="DataGridAlternateRowColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="MsSQLConWinBack" serializeAs="String">
                <value>Data Source=127.0.0.1\SIGNUM; Database=winback; Integrated Security=True</value>
            </setting>
            <setting name="MsSQLConWbDaten" serializeAs="String">
                <value>Data Source=127.0.0.1\SIGNUM; Database=wbdaten; Integrated Security=True</value>
            </setting>
            <setting name="WinBackDockPanelPath" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
            <setting name="MsSQLServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="WinBackDBType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinBackConString" serializeAs="String">
                <value />
            </setting>
            <setting name="WbDatenConString" serializeAs="String">
                <value />
            </setting>
            <setting name="OrgaBackMainConString" serializeAs="String">
                <value>Data Source=127.0.0.1\SIGNUM; Database=DemoOrgaBack_Main3; Integrated Security=True</value>
            </setting>
            <setting name="MsSQLMain" serializeAs="String">
                <value>DemoOrgaBack_Main3</value>
            </setting>
            <setting name="MySQLPath" serializeAs="String">
                <value>C:\Program Files\MySQL\MySQL Server 5.0</value>
            </setting>
            <setting name="MySQLBatch" serializeAs="String">
                <value>C:\ProgramData\OrgaSoft\AddIn</value>
            </setting>
        </WinBack.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
