<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinBackServerTask.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <WinBackServerTask.My.MySettings>
            <setting name="MySQLServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="MySQLWinBack" serializeAs="String">
                <value>winback</value>
            </setting>
            <setting name="MySQLWbDaten" serializeAs="String">
                <value>wbdaten</value>
            </setting>
            <setting name="MySQLUser" serializeAs="String">
                <value>herbst</value>
            </setting>
            <setting name="MySQLPass" serializeAs="String">
                <value>herbst</value>
            </setting>
            <setting name="MySQConWinBack" serializeAs="String">
                <value />
            </setting>
            <setting name="MySQConWbDaten" serializeAs="String">
                <value />
            </setting>
            <setting name="WinBackDBType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinBackConString" serializeAs="String">
                <value />
            </setting>
            <setting name="WbDatenConString" serializeAs="String">
                <value />
            </setting>
            <setting name="AktUser" serializeAs="String">
                <value>ServerTask</value>
            </setting>
            <setting name="AktUserNr" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="AktLanguage" serializeAs="String">
                <value>de</value>
            </setting>
        </WinBackServerTask.My.MySettings>
    </userSettings>
</configuration>
