<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - SignumWinBack WinBack way" ToolsVersion="16.0">
  <Include Path="..\.sonarlint\joerg_signumwinback_aye-e96yv9eqwcngyd1fvb.ruleset" Action="Default" />
  <Include Path="..\.sonarlint\joerg_signumwinback_aye-w7bbzzj4zrzucclxvb.ruleset" Action="Default" />
</RuleSet>